- var title = "IBM Cloud Architecture & Solution Engineering - GitHub Repository Traffic Statistics";
- var local_subset = (subset=="topten" ? "Top Ten" : "All");
- var local_stat_type = (stat_type=="views" ? "Views" : "Clones");
- var today = new Date();
- var initialDate = new Date();
- initialDate.setDate(initialDate.getDate() - timeslice);
- var interval = "("+ initialDate.toLocaleDateString("en-US") + " - " + today.toLocaleDateString("en-US") + ")";
- var local_timeslice = "Previous " + timeslice + " days " + interval;
- var github_org = (organization!==undefined ? organization : "ibm-cloud-architecture")
- var github_host = (host!==undefined ? host : "https://github.com")
html
  head
    title= title
    script(src='//code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=', crossorigin='anonymous')
    

  body
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.css')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.js')
    script(type='text/javascript').
      $(document).ready( function () {
        $('#statsTable').DataTable({
          "order": [[1, 'desc']]
        }); 
      });
    h1= title
    table(style='width: 80%; margin: auto;')
      tr
        th <a href="/stats/views/topten/14">Top Ten Views</a>
        th <a href="/stats/views/all/14">All Views</a>
        th <a href="/stats/clones/topten/14">Top Ten Clones</a>
        th <a href="/stats/clones/all/14">All Clones</a>
    
    br
    br
    
    table(style='width:100%')
      tr
        th(style='width: 33%') Statistic Type
        th(style='width: 33%') Repository Subset
        th(style='width: 33%') Time Period
      tr
        td(style='text-align: center')= local_stat_type
        td(style='text-align: center')= local_subset
        td(style='text-align: center')= local_timeslice
      
    hr
      
    table(id='statsTable' class='display')
      thead
        tr
          th Repository
          th= local_stat_type
          th Uniques
      each REPO in stats
        tr
          td
            a(href=github_host+"/"+github_org+"/"+REPO.REPOSITORY, target="_blank") #{REPO.REPOSITORY}
          if stat_type=="views"
            td= REPO.VIEWS
          else
            td= REPO.CLONES
          td= REPO.UNIQUES

    br
    br
    br
    p(style="width: 100%; text-align: center;") All repositories under the <a href="https://github.com/ibm-cloud-architecture" target="_blank">ibm-cloud-architecture</a> GitHub organization
