html
  head
    title= title
  body
    ul
      li <a href="/stats/views/topten/14">Top Ten Views</a>
      li <a href="/stats/views/all/14">All Views</a>
      li <a href="/stats/clones/topten/14">Top Ten Clones</a>
      li <a href="/stats/clones/all/14">All Clones</a>
    h1= message
    h2= stat_type
    h2= subset
    h2= timeslice
    table
      tr
        th Repository
        th Views
        th Clones
      each REPO in stats
        tr
          td= REPO.REPOSITORY
          td= REPO.VIEWS
          td= REPO.CLONES
